package com.Group3.monitor.configuration;

import java.io.File;
import java.io.FileInputStream;
import java.io.IOException;
import java.io.InputStream;
import java.util.Properties;

public class ConfigurationManager {

	private final String configFile = "configuration.properties";
	private final String configPath = "./src/main/resources/";
	private Properties props;
	public final String IDProp = "ID";
	public final String monitorServerAddressProp = "MonitorServerAddress";
	private static ConfigurationManager instance = null;
	private static String EMPTY = "";
	
	public ConfigurationManager() {
		if (props == null) {
			initializeProperties();
		}
	}
	
	private void initializeProperties() {
		props = new Properties();
		try (InputStream input = new FileInputStream(configPath+configFile)){
			props.load(input);
		} catch (IOException e) {
			System.out.println(String.format("Could not read properties from %s, please check...", configPath+configFile));

			e.printStackTrace();
		}
	}
	
	public String getProperty(String propertyName) {
		return getProperty(propertyName, null);
	}
	
	public String getProperty(String propertyName, String defaultValue) {
		String propertyValue = props.getProperty(propertyName, defaultValue);
		if ((propertyValue != null && propertyValue.equals(EMPTY)) && (defaultValue == null || !defaultValue.equals(EMPTY))) {
			return defaultValue;
		}
		return propertyValue;
	}
	
	public long getPropertyAsLong(String propertyName) {
		String propValue = getProperty(propertyName);
		return Long.parseLong(propValue);
	}
	
	public String getPropertiesPath() {
		return new File(configPath+configFile).getAbsolutePath();
	}
	public static ConfigurationManager getInstance() {
		if (instance == null) {
			instance = new ConfigurationManager();
		}
		return instance;
	}
}
