package com.Group3.monitor.client;

import com.Group3.monitor.api.MonitorApi;
import com.Group3.monitor.model.TimingMonitorData;
import com.Group3.monitor.model.TimingMonitorData.EventCodeEnum;

import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import java.time.OffsetDateTime;

import javax.annotation.Nullable;

import java.util.concurrent.atomic.AtomicLong;
import java.util.regex.Pattern;

public class MonitorClientInterface {
    private ApiClient client;
    private MonitorApi MonitorClient;
    private String monitorURL = "http://85.191.161.150:8080";
    private static AtomicLong eventIDSequence = new AtomicLong(1L);
    private static final long senderID = new ConfigurationManager().getPropertyAsLong(ConfigurationManager.IDProp);

    private String checkTargetEndpoint(String endpoint){
        if(endpoint.charAt(0) == '/'){
            return endpoint;
        }
        return "/" + endpoint;
    }


    public MonitorClientInterface(){
        //if (Pattern.matches("^http://\\d+.\\d+.\\d+.\\d+:\\d+$", MonitorIP)) {
        //    client = new ApiClient();
        //    client.setBasePath(MonitorIP);
        //    MonitorClient = new MonitorApi(client);
        //} else if(Pattern.matches("^\\d+.\\d+.\\d+.\\d+:\\d+$", MonitorIP)){
        //    client = new ApiClient();
        //    client.setBasePath("http://" + MonitorIP);
        //    MonitorClient = new MonitorApi(client);
        //}
        SetMonitorIP(monitorURL);
    }

    public void SetMonitorIP(String MonitorIP){
        if (Pattern.matches("^http://\\d+.\\d+.\\d+.\\d+:\\d+$", MonitorIP)) {
            client.setBasePath(MonitorIP);
        } else if(Pattern.matches("^\\d+.\\d+.\\d+.\\d+:\\d+$", MonitorIP)){
            client.setBasePath("http://" + MonitorIP);
        }
    }

    private void addMonitorData(long eventID, @Nullable String TargetEndPoint, EventCodeEnum eventCode) throws ApiException {
        TimingMonitorData timingMonitorData = new TimingMonitorData();
        timingMonitorData.setEventCode(eventCode);
        timingMonitorData.setEventID(eventID);
        timingMonitorData.setSenderID(senderID);
        timingMonitorData.timestamp(OffsetDateTime.now());
        if(TargetEndPoint != null){
            timingMonitorData.setTargetEndpoint(checkTargetEndpoint(TargetEndPoint));
        }

        MonitorClient.addMonitorData(timingMonitorData);
    }
    
    public long queueMonitorData(@Nullable String targetEndPoint, EventCodeEnum eventCode) throws ApiException {
    	long eventID = getNextEventID();
    	addMonitorData(eventID, targetEndPoint, eventCode);
    	return eventID;
    }
    
    public long queueMonitorData(long eventID, @Nullable String targetEndPoint, EventCodeEnum eventCode) throws ApiException {
    	addMonitorData(eventID, targetEndPoint, eventCode);
    	return eventID;
    }
    
    public long getNextEventID() {
    	return eventIDSequence.getAndIncrement();
    }
}
