package com.group3.monitor.exception;

public class MonitorConfigException extends RuntimeException{

	/**
	 * 
	 */
	private static final long serialVersionUID = 1L;
	
	
	public MonitorConfigException (String msg) {
		super(msg);
	}
	
}
